.body { width: 1000px;

				bgcolor="#FFFFCC";
				background="book.files/image001.jpg";		
				text-align: center;
				text-shadow: -1px 1px 0 yellow;
				letter-spacing: 0.1em;
				margin-left: 0px;
				font-size: x-large;
}		

 #footer {
    position: fixed; /* Фиксированное положение */
    left: 100px; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: silver; /* Цвет фона */
    color: green; /* Цвет текста */
    width:  800px; /* Ширина слоя */
   }

header
{
 width:1194px;
 border:   4px solid #c9c9c9;
background: #D8E3AB url("../titl.jpg") no-repeat ;
height: 300px;	
 

}


.title{
				font-size: 42px;
				color: #000099;
				background-color: white;
				font-family: 'Monotype Corsiva', sans-serif;
				 text-align:center;
				 text-decoration: underline;

				text-shadow: 
				
			   0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               		letter-spacing: 0.1em;
}

.h1{
font-size:22px;
	color: maroon;
	text-align:center;

	outline-color:  #FFCCFF;
text-shadow:#B6B6B6 1px -1px 0,
			#B6B6B6 2px -2px 0,
			#B6B6B6 3px -3px 0,
			#B6B6B6 4px -4px 0,
			#B6B6B6 5px -5px 0;
}			
 #block {
    
    padding:0px; /* Поля вокруг текста */
    background: LightGrey; /* Цвет фона */
    text-align:   left;
 font-size:  medium;
  width: 800px; 
  height: 174px; 
 position: relative; 
 left: 7px; top: -66px;"  

   }
 .block1 { 
     padding:0px; /* Поля вокруг текста */
    background:  #FFFFCC; /* Цвет фона */
    text-align:   left;
 font-size: large ;
  width: 800px; 
  height: 174px; 
 position: relative; 
 left:  10px; 
 top: -10px;"  
font-family:  "Times New Roman", Times, serif
   }      
.style1
 {
 outline-color: black; 
  
   background-color: white;
 text-align:  center;
 font-size: xx-large;
 color: gray ;
  font-family: 'Monotype Corsiva', sans-serif; 
 text-shadow: 3px 0 0 black ;
}
.style2 {
				 
				text-decoration: none;
				margin:0 20px ;
				background-color:  white;
				text-align: justify;
				font-size: medium;
				font-family:  "Times New Roman", Times, serif;
				text-shadow: 0px 0 0 #FF0000;
}
.style2a { 	 	text-decoration: none;
				margin:0 20px ;
				background-color:  white;
				text-align: right;
				font-size: medium;
				font-family:  "Times New Roman", Times, serif;
				text-shadow: 0px 0 0 #FF0000;
				 
}
.style3 {
				 
				text-decoration: none;
				background-color:  white;
				text-align: left;
				font-size:  large;
				font-family:  "Times New Roman", Times, serif;
				margin:0 50px ;  
}
.style4 {
				background-color:  white;
				text-align: center;
				font-size: large;
				font-family:  "Times New Roman", Times, serif; 
				font-style: inherit;
                color:maroon;
                border:1px black
                }

       .tr  {   border:1px black;
				  
}
.style6
/* задаем цвет фона для контейнера nav. */
			 nav {
			    margin:50px 0;
			    background-color:  #CCCCFF;
			}
			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
			nav ul {
			    padding:20;
			    margin:50;
			    list-style: none;
			    position: relative; 
			    border-color: blue;
			    border: 4px; 
			    }
			
			/* применяем inline-block позиционирование к элементам навигации */
			nav ul li {
			    margin: 0px -7px 0 0;
			    display:inline-block;  
			    background-color:  #CCCCFF;
			    min-width:230px;
			    border:  3px; 
			    text-align :center; 

			    }
			
			/* стилизуем ссылки */
			nav a {
			    display:block;
			    padding:0 10px;
			    color:  blue;
			    font-size: large;
			    text-shadow:
			    2px 1px 0 white
			    ;
			    line-height: 30px;
			    text-decoration:none;
			}
			
			/* изменяем цвет фона при наведении курсора */
			nav a:hover {
			    background-color:  silver;}
			    
			  /* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
			nav ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
			}
						
			/* отображаем выпадающий список при наведении */
			nav ul li:hover > ul {
			    display:inherit;
			}
			
			/* первый уровень выпадающего списка */
			nav ul ul li {
			    min-width:170px;
			    float:none;
			    display:list-item;
			    position: relative;
			    text-align:  left;

			}
.style5 {
				border-width: 0;
				margin: 20px 50px ;
				text-decoration: none;
				background-color:  white;
				text-align:  center;
				font-size: medium;
				font-family: "Times New Roman", Times, serif;
				text-shadow: 0px 0 0 teal;
}
.style7 {
				 border:1px black solid;  
				margin: 10px  25px ;
				text-decoration: none;
				background-color:  white;
				text-align: left;
				text-indent:20px;
				
				font-size:  large;
				font-family:  "Times New Roman", Times, serif;
				  
}

li {
list-style-position: inside;
list-style-type:  none
}
.style8 {
				    
				border: 1px solid #000000;
				text-decoration: none;
				margin: 0 40px;
				background-color: white;
				text-align:  left;
				font-size:  x-large;
				font-family: "Times New Roman", Times, serif;
				text-shadow: 0px 0 0 #FF0000;
}
.style9 {  
				text-decoration: none;
				margin: 0 20px;
				background-color:  #CCCCFF;
				text-align: right;
				font-size: medium;
				font-family: "Times New Roman", Times, serif;
				text-shadow: 0px 0 0 #FF0000;
}
.style10 {
				border: 1px gray;
				border-bottom:2px black;
				background-color: white;
				text-align: center;
				font-size:28px;
				font-family: "Times New Roman", Times, serif ;
				font-style:   italic  ;
				color:  black;
	

}

/*td {border: 1px solid grey;}*/


